<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center" color="success">
      COMPLETADOS
    </ion-title>
    <ion-buttons *ngIf="showBtnReorder" slot="end">
      <ion-button 
          (click)="toggleReorder()"
          color="success"
          shape="round">
          <ion-icon
              [name]=" disabledReorder ? 'toggle-outline' : 'toggle'"
              [ngClass]="{'activeReorder': disabledReorder}">
          </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <app-listas [completadas]="true" (editLista)="editarLista($event)"></app-listas>

</ion-content>
