<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center" color="success">
      PENDIENTES
    </ion-title>


    <ion-buttons *ngIf="showBtnReorder" slot="end">
      <ion-button 
          (click)="toggleReorder()"
          color="success"
          shape="round">
          <ion-icon
              [name]=" disabledReorder ? 'toggle-outline' : 'toggle'"
              [ngClass]="{'activeReorder': disabledReorder}">
          </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <app-listas [completadas]="false" (editLista)="editarLista($event)"></app-listas>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarLista()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
